{% extends './app_layout.html' %}

{% block body%}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
        
        margin: 0 auto; /* Center the table */
        margin-top:10%;
    }

    th, td {
        text-align: left;
        padding: 8px;
        border: 1px solid #ddd;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th {
        background-color: #0023bd;
        color: white;
    }


</style>  
<div class="container-flex">
    {% if counter %}
    <p class="message-box" style="background-color: lightgreen; text-align: left; float: right;">Items ready for International Box: {{ counter }} <a class="btn btn-success" id="wrap-box">Wrap The Box</a></p>
    {% endif %}
</div>
<table>
    <thead>
        <tr>
            <th>Item ID</th>
            <th>Scanning Date</th>
            <th>Locker</th>
            <th>Tracking Number</th>
            <th>Weight</th>
            <th>Clearance</th>
            <th>Category</th>
            <th>Status</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.scanning_date }}</td>
                <td>{{ item.locker }}</td>
                <td>{{ item.tracking_number }}</td>
                <td>{{ item.item_weight }}</td>
                <td>{{ item.item_clearnace }}</td>
                <td>{{ item.item_category }}</td>
                <td>{{ item.status }}</td>
                <td><a class="btn btn-danger" href="{{url_for('delete_item',item_id=item.id)}}" name='Delete'>-</a>
                    <a class="btn btn-warning" href="{{url_for('update_item',item_id=item.id)}}" name ='Update'>U</a>
                    <a class="btn btn-success" href="{{url_for('addToIntlBox',item_id=item.id)}}" name = 'Add to Box'>+</a>
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<div class="pagination justify-content-center">
    {% if has_prev %}
        <a class="page-link" href="?page={{ page - 1 }}">Previous</a>
    {% endif %}

    {% for p in range(1, total_pages + 1) %}
        {% if p == page %}
            <span class="page-link active">{{ p }}</span>
        {% else %}
            <a class="page-link" href="?page={{ p }}">{{ p }}</a>
        {% endif %}
    {% endfor %}

    {% if has_next %}
        <a class="page-link" href="?page={{ page + 1 }}">Next</a>
    {% endif %}
</div>

{% endblock %}